@tailwind base;
@tailwind components;
@tailwind utilities;

.activities::-webkit-scrollbar {
  display: none;
}

.swiper {
  padding: 1.5rem !important;
  padding-top: 0 !important;
}

@media screen and (min-width: 1440px) {
  .swiper {
    padding: 2rem !important;
    padding-top: 0 !important;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -6px !important;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  background: black !important;
}

.dark .swiper-pagination-bullet-active,
.dark .swiper-pagination-bullet {
  background: white !important;
}

.skeleton {
  animation-duration: 2000ms;
}

@media screen and (max-height: 500px) {
  .minHeight {
    left: 1rem;
  }
}
